@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row px-4">
           
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<!-- CSS Libraries -->

@* <link rel="stylesheet" href="app.css" />
<link rel="stylesheet" href="styles.css" />
<link rel="stylesheet" href="/_content/PSC.Blazor.Components.MarkdownEditor/css/easymde.min.css" /> *@

<!-- JS Libraries -->

